
{% load i18n %}{% load admin_urls %}{% if not request.is_ajax %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
    <title>{%block title%}{%endblock%}</title>
	<link href="{{settings.MEDIA_PREFIX}}/css/layout.css" type="text/css" media="all" rel="stylesheet" />
	{%block extra_head%}{%endblock%}
  </head>
  <body>
  	<div id = "main">{% endif %}
	{% block content %}{% endblock %}
{% if not request.is_ajax %}</div>
	<div id = "utility">
  		{% if not request.user.is_authenticated %}
			{% ifnotequal request.path '/accounts/login/' %}
				<div><a href="{% url login %}">
					{% trans 'Login'%}</a></div>
			{%endifnotequal%}
		{% endif %}
		{% if request.user.is_authenticated %}
			<div><a href="{% url logout %}">{% trans 'Logout'%}</a></div>
			<div><a href="{% edit_list profile %}">{% trans 'Edit in admin'%}</a></div>
			{% for link in utility_links %}
				<div>
					<a href="{{ link.0 }}"{% for attr in link.2.items%} {{attr.0}}="{{attr.1}}"{%endfor%}>{{ link.1 }}</a>
				</div>
			{% endfor %}
		{% endif %}
	</div>
	<div id="ajaxlog">
	</div>
  </body>
</html>
{% endif %}
