<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <h1>My Bio</h1>
{% block css %} {% endblock css %}

{% block media %} {{profile_form.media}}
<style type="text/css">
<!--
label {display: block;}
p {margin: 0 0 1.5em 0;}
.errorlist {color: red; margin: 1.5em 0 0 0; padding: 0; list-style: none;}
-->
</style>
<script type="text/javascript">
<!--

$(document).ready(function(){
    $("input.dateField").each(function(){
        obj = $(this)
        obj.DatePicker({
            date: obj.val(),
            position: 'bottom',
            onBeforeShow: function(){
                obj.DatePickerSetDate(obj.val(), true);
            },
            onChange: function(formated, dates){
                obj.val(formated);
            }
        });
    });
});

//-->
</script>
<script type="text/javascript">
	$(function() {
		$("#datepicker").datepicker();
	});
	</script>

<script type="application/javascript">
  $('#ajaxform').ajaxForm({
  target: "#ajaxform",
  beforeSubmit: function(){
			$("#ajaxform input").attr("disabled","1");
  			$("#ajaxform select").attr("disabled","1");
			$("#ajaxform textarea").attr("disabled","1");
			}, 
  success:   function(){
			$("#ajaxform input").enable();
			$("#ajaxform select").enable();
             		$("#ajaxform textarea").enable();
			},
  });  
  $('#ajaxlog').ajaxStart(function() {
			$(this).append('<hr/><div>Form send started.</div>');
			});
  $('#ajaxlog').ajaxError(function() {
			$(this).append('<div>Form sending error.</div>');
			});
  $('#ajaxlog').ajaxSend(function() {
			$(this).append('<div>Sending form</div>');
			});
  $('#ajaxlog').ajaxSuccess(function() {
			$(this).append('<div>Success.</div>');
			});
  $('#ajaxlog').ajaxComplete(function() {
        		$(this).append('<div>Form send completed.</div>');
			});
  });	
</script>
{% endblock media %}
<form class = "ajax_form" method="POST">

	<table>
	{{ profile_form.as_table }}
	{{ contact_formset.management_form }}
	</table>
	<input type="submit" value="Submit">
</form>
{% block footer %}
    <hr>
    <p>Greetings for all visitors</p>
    {% endblock %}
</body>
<div id = "ajaxlog"></div>

</html>
