<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <h1>My Bio</h1>
    {% block content %}<p>First name: {{ data.first_name }}.</p>
                       <p>Last name: {{ data.last_name }}.</p>
                       <p>Bio: {{ data.bio }}.</p>
                       <p>Contacts: {{ data.contacts }}.</p>{% endblock %}
    {% block footer %}
    <hr>
    <p>Greetings for all visitors</p>
    {% endblock %}
</body>
</html>

