<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <h1>My Bio</h1>
{% block css %} {% endblock css %}

{% block media %} {{profile.media}} {% endblock media %}


<form method="POST">
	<table>
	{{ profile_form.as_table }}
	{{ contact_formset.management_form }}
	</table>
	<input type="submit" value="Submit">
</form>
{% block footer %}
    <hr>
    <p>Greetings for all visitors</p>
    {% endblock %}
</body>
</html>
